[2018-01-11 13:12] FMezard opened #1 "Mise à disposition des textes initiaux"
Bonjour !

Il faudrait faire un dossier avec les textes des lettres au format HTML pour pouvoir commencer à les travailler.

[2018-01-11 13:15] mggourio commented on #1
Bonjour Fanny,

D'accord, je m'en charge tout de suite !

[2018-01-11 13:25] mggourio commented on #1
Je pense en fait qu'il vaut mieux prendre les textes bruts, car le format HTML ne va pas nous servir. Est-ce que cela vous convient donc si je mets les textes bruts sur le repository ?

[2018-01-11 13:40] FMezard commented on #1
Ok, dans ce cas je pense que le plus simple serait de faire deux dossiers :

- un dossier `correspondance` et un dossier `oeuvre_complete` . Dans le dossier `correspondance`, on pourra refaire un dossier `serie_01` et un dossier `serie_02` puis un fichier par lettres.
- pour nommer les fichiers, le plus clair serait peut-être de faire `lettre_NN_AAAAMMJJ`.

Peux-tu t'occuper du dossier corresponda

[2018-01-11 13:57] HeathcoteA commented on #1
Coucou Fanny,

Marie-Gaëlle s'occupe donc du dossier `correspondance` et je m'occupe de la création d'un dossier `oeuvre_complete`correspondant à l'oeuvre _Pourquoi on aime la France_ contenant deux fichiers avec ses discours. De la même manière, je vais adapter ce choix de dénomination en `discours_NN_AAAAMMJJ`.
:-)

[2018-01-11 14:03] mggourio commented on #1
Salut,

Je vais mettre le corpus de lettres à disposition sur le repository.
Dans certaines lettres, il y a des dessins d'Olivar : j'ai laissé les adresses de ces images-là.
Par contre, dans chaque lettre se trouvent les reproductions des lettres : je n'ai pas laissé ces adresses-là.
Dites-moi ce que vous en pensez.

[2018-01-11 14:43] FMezard commented on #1
Super, c'est parfait !

[2018-01-11 14:45] #1 closed, assigned to mggourio, HeathcoteA

[2018-01-11 14:53] FMezard opened #4 "Exemple d'encodage préalable au schéma RelaxNG - correspondance"
Rebonjour,

Pour pouvoir encoder les textes, il va falloir mettre en place un schema RelaxNG pour avoir un encodage en TEI homogène pour toutes les lettres de la correspondance. Il faudra au préalable réfléchir aux balises utiles.

[2018-01-11 14:59] algaudin commented on #4
Salut!

Je vais m'en charger.
Voici la procédure que je vous propose. Je prendrai la première lettre de la correspondance, faire un encodage en TEI all. Je mettrai le texte encodé sur une deuxième branche, pour qu'on soit bien d'accord sur les balises les plus utiles. On verra après pour le RelaxNG.

Cela vous convient-il ?

[2018-01-11 16:56] mggourio commented on #4
👍

[2018-01-13 09:12] algaudin commented on #4
Bonjour à tous!

Vous pourrez trouver sur la branche "issue-4", dans le dossier "Schéma", un exemple d'une lettre encodée en TEI. J'ai essayé de ne mettre uniquement que les balises les plus utiles. J'ai aussi ajouté quelques commentaires concernant des balises qui ne sont pas utilisées dans cet exemple, mais qui pourraient être utiles pour d'autres textes. J'ai aussi mis des balises pour un évent

[2018-01-15 08:34] FMezard commented on #4
Salut Alexandre,

C'est super ce que tu as fait !! Par contre, wikipedia ne respecte pas les retours à la ligne, je ne pense pas que ça vaille le coup de mettre tous les `<lb>`, on va perdre beaucoup de temps.

Pour le reste, il n'y a plus qu'à faire le relaxNG !

Bonne semaine,

Fanny

[2018-01-15 08:43] HeathcoteA commented on #4
Coucou !
Suite à l'encodage d'Alexandre, j'ai trouvé les informations de conservation de la correspondance à cette adresse : [https://archivesdemontreal.ica-atom.org/olivar-asselin-1912-1933] et l'instrument de recherche associé : [https://archivesdemontreal.ica-atom.org/downloads/fonds-jean-asselin-189-1996.pdf](url)
:-)

[2018-01-15 08:58] FMezard commented on #4
Super, je ferme l'issue !

[2018-01-15 08:58] #4 closed, assigned to algaudin

[2018-01-15 09:02] FMezard opened #6 "Mise en place du schema RelaxNG"
Coucou !

Maintenant qu'on a fait nos choix de balises, passons au schéma RelaxNG !

Je vous remets le lien vers le [tutoriel](http://xmlfr.org/oasis/committees/relax-ng/tutorial-20011203-fr.html) en français.

[2018-01-15 11:04] FMezard opened #7 "Encodage de l'oeuvre complète en TEI"
Coucou !

On reste avec le schema TEI-all pour l'oeuvre complète, on peut donc déjà commencer à l'encoder !

[2018-01-15 11:24] FMezard commented on #6
Bonjour Monsieur, @PonteIneptique

Nous tentons de mettre en place notre schéma RelaxNG mais nous ne sommes vraiment pas sûrs d'avoir compris comment cela fonctionnait. Pourriez-vous nous dire si le schéma est acceptable ?

https://github.com/Chartes-TNAH/olivar-asselin/blob/issue-6/schema/TEI_asselin.rng

(nous nous sommes pour le moment limités à la création des balises, sans les attributs)

Mer

[2018-01-15 17:48] HeathcoteA commented on #7
Coucou !
Je me suis occupée de la TEI aujourd'hui, je vais essayer de vous l'envoyer :-)

J'ai une dernière petite question concernant l'encodage des noms de lieux dans le texte des discours, faut-il les encoder justement ?

Bonne soirée !

[2018-01-15 17:56] HeathcoteA commented on #7
Avis à la team,
J'ai visiblement fais une erreur de git-age... Les fichiers texte brut sont encodés mais en voulant vous transmettre le fichier TEI j'ai fais disparaitre ces fameux fichiers ! Je vous envoie un SOS mais l'erreur est rattrapable (j'irai rechercher les beaux fichiers textes). Je vais relire le cours pour vous envoyer correctement la TEI demain !

[2018-01-15 18:03] FMezard commented on #7
Je n'ai pas très bien compris ton problème : est-ce que tu as fait un push sur le repository  ? Je ne vois pas de nouvelle branche pour le moment

On prendra un moment pour voir ça ensemble demain en tout cas, pas de soucis et merci pour l'encodage ! :)

[2018-01-17 16:14] algaudin opened #8 "Définition du modèle d'encodage de la correspondance"
Bonjour à tous,

Suite aux remarques de M. Jolivet,  il faudrait revoir le modèle d'encodage de la correspondance.

Est-ce que vous souhaitez que l'on conserve l'encodage actuellement effectué, auquel cas il faudrait ajouter un <correspDesc> ou préférez-vous que l'on fonctionne sur le modèle d'un TEICorpus avec un TEI Header propre à l'édition encodée, puis un TEI par lettre, avec son propre TEI H

[2018-01-17 16:24] mggourio opened #9 "Identifiants des lettres"
Bonjour,

Que pensez-vous de définir les identifiants des lettres en même temps qu'on les encode ?
Si oui, il faut songer à des identifiants pertinents et qui nous permettent de nous y retrouver dans la correspondance.

[2018-01-18 12:36] FMezard commented on #8
Après réflexion, je me suis dit que c'est peut être le plus simple de faire un fichier par lettre. Cela nous simplifiera la tâche pour la capitainisation (en faisant du coup un fichier cts par lettre). Ca sera aussi plus simple pour gérer le travail en équipe : chacun peut encoder sa lettre dans un fichier indépendant. Après, ça pose le problème de la répétition du TEIheader dans chacun des fichie

[2018-01-18 17:38] FMezard opened #10 "Encodage du TEI header"
Il va falloir modifier le TEI header, notamment en ajoutant une balise `correspDesc`qui sera plus adaptée à notre édition de correspondance.

@architexte  pourriez-vous nous montrer les TEI header de l'école dont vous nous aviez parlé, que nous pourrions être amenés à utiliser.

Merci !

[2018-01-18 19:45] algaudin commented on #8
Je suis d'accord avec toi. Il me semble plus facile de faire un fichier par lettre que de gérer et travailler à plusieurs sur un fichier TEI Corpus, quitte à répéter le TEI header.

[2018-01-19 13:43] mggourio commented on #8
La solution d'un fichier XML par lettre me en effet semble la plus simple, tant pour le partage de l'encodage que pour la capitanisation, et tant pis pour la répétition du teiHeader. A moins qu'il soit possible de faire un fichier TEI juste pour le teiHeader, et de relier nos fichiers de lettres à ce fichier ?

[2018-01-23 16:51] FMezard opened #12 "Deboggage <p> RelaxNG"
Bonjour,

J'ai lié le schéma RelaxNG à notre exemple de lettre encodée en TEI. Pour la balise `p` le schéma est définit par

[code]

Et le premier paragraphe du texte encodé en TEI est

[code]
Je n'arrive pas à me débarrasser de l'erreur :
`element "p" incomplete; missing required element "pb"` pourtant je pensais que `optional` réglait le problème.

Une idée quelqu'un ? Merci !

[2018-01-23 21:29] FMezard commented on #12
Trouvé !! En fait, il ne suffit pas d'enregistrer les fichiers pour qu'Oxygen prenne en compte les modifications, il faut recharger la page (en cliquant sur `reload`). Une fois cela fait, l'erreur a disparu. Désolée pour cette intervention peu inutile.

Par contre, j'ai testé en mettant une balise `optional`unique :
[code]
Ca ne fonctionne pas, je retombe sur l'erreur  `element "p" incomplete; mis

[2018-01-23 22:00] FMezard commented on #8
Du coup si personne ne s'y oppose, on reste sur ce choix. Je vais retirer le `group` de notre modèle d'encodage TEI, puisque nous n'avais plus de groupe de texte, mais un seul texte par fichier.

[2018-01-24 10:25] #12 closed, assigned to nobody

[2018-01-24 10:31] mggourio opened #14 "Suite du debbogage du RelaxNG"
Bonjour les archivistes !

Je poursuis le debbogage de notre RelaxNG. Grande nouvelle, il n'y a plus qu'une erreur !!
En effet, notre attribut xmlns de notre balise TEI n'est pas déclaré. Or le RelaxNG n'accepte pas qu'un attribut se nomme xmlns.

[code]
cela donne l'erreur `attribute must not be named "xmlns"`

A part ça, notre encodage est juste !

Avez-vous une idée pour résoudre cette erreur ?

[2018-01-24 10:49] mggourio commented on #14
Bon, j'ai touvé la solution : il fallait déclarer xmlns comme un élément à la suite de TEI, et non comme un attribut.
Voici donc le code juste (ou presque juste car oxygen m'indique `missing children` au niveau de la balise fermante `define`)

[code]
 Avez-vous une solution pour mon erreur de manque d'enfants ?

[2018-01-24 15:47] FMezard opened #17 "Problème d'organisation des dossiers : dossier RelaxNG en trop"
Petit détail, mais un dossier en trop `RelaxNG` a été crée, il va falloir mettre son contenu dans `schema`, et le supprimer. Je m'en occupe !

[2018-01-24 15:56] #17 closed, assigned to FMezard

[2018-01-25 09:15] algaudin commented on #10
Bonjour!
Je me charge de modifier le tei Header du fichier XML, en ajoutant le correspdesc. Ensuite on pourra modifier la définition du relax ng.

[2018-01-25 09:16] FMezard commented on #14
J'ai cherché une partie de la soirée, j'ai essayé pas mal de trucs mais je n'ai rien trouvé !
Pour chercher la solution je me suis basé sur l'exemple laissé par Jean Baptiste Camps pour le projet `geste`.  Je vous mets le lien  [ici](https://github.com/Chartes-TNAH/geste/blob/master/src/Modele.rng) je pense que ça reste une bonne piste !
Bon courage

[2018-01-25 10:01] FMezard opened #21 "Adaptation du relaxNG au nouveau TEI Header"
Suite à la fermeture de l'issue 10, il faudrait adapter le relaxNG une fois encore !

[2018-01-25 10:16] HeathcoteA commented on #9
Coucou,
j'ai retrouvé une liste de sources d'identifiants dans mon cours, il faut qu'on regarde VIAF, RAMEAU, IDREF ou WIKIDATA.

[2018-01-25 10:19] algaudin commented on #9
Très bien, merci !
Juste une petite confirmation : il nous faut bien trouver un identifiant pour le niveau "textgroup", c'est-à-dire l'auteur, un pour le niveau "work" correspondant à chacune des séries (et pour les discours), et un pour un niveau correspondant à la lettre ?

[2018-01-25 10:29] mggourio commented on #9
Salut !
Oui, c'est bien ça, il nous faut un identifiant pour l'auteur, un par groupe de textes et un dernier par lettre.

[2018-01-25 10:31] HeathcoteA commented on #9
Sur wikidata, Olivar Asselin est identifié par `Q3350623` , la notice d'autorité BNF lui attribut `12917641` et sur VIAF c'est le `23039705`.

[2018-01-25 10:34] #21 closed, assigned to nobody

[2018-01-25 10:34] #14 closed, assigned to nobody

[2018-01-25 10:36] FMezard commented on #9
Je pense qu'on pourrait rester sur wikidata, vu que notre source est elle-même issue de wikisource.

[2018-01-25 10:36] mggourio commented on #9
Bonne idée !

[2018-01-25 10:41] FMezard opened #23 "Structure des dossiers"
Pour CapiTainiSer, il va falloir revoir notre structure de dossiers !

[2018-01-25 10:51] mggourio commented on #23
Oui, il y a une hiérarchie bien particulière :
1. dans un dossier olivar-asselin
2. créer un dossier data
3. dans ce dossier data, mettre nos dossiers textgroup et notre schéma
4. dans chaque dossier textgroup il y a :
         a. le dossier textgroup
         b. le fichier __ cts __.xml du textgroup
5. dans chaque dossier textgroup se trouve :
         a. le fichier encodé
         b. le fichier

[2018-01-25 10:52] #8 closed, assigned to nobody

[2018-01-25 10:53] FMezard commented on #23
Parfait, comme ça je l'ai sous les yeux ! Je fais ça, je renommerai les fichiers dès qu'on aura décidé des identifiants.

[2018-01-25 11:08] HeathcoteA commented on #9
Conformément au modèle `urn:cts:greekLit:tlg0012.tlg001`, peut-on envisager d'identifier la première lettre par `urn:cts:freCor:wikidQ3350623.wikid001` ? En suivant `greekLit`devient `freLit` pour le français et on peut créer `freCor` puisque nous avons de la correspondance française ?
`Q3350623` étant l'identifiant wikidata d'Olivar Asselin devient `wikidQ3350623` et enfin, création de l'identifi

[2018-01-25 11:09] #6 closed, assigned to mggourio, algaudin

[2018-01-25 11:09] #7 closed, assigned to HeathcoteA

[2018-01-25 11:11] algaudin commented on #9
L'idée du `freCor` pour le namespace est une excellente idée !
Par contre, j'ai un doute concernant `wikid001`. Est-ce le niveau de l'identifiant pour la première lettre ou la première série de lettres ?

[2018-01-25 11:19] mggourio commented on #9
Oui, `wiki001` est l'identifiant de la première lettre. Et donc `wiki002` est celui de la deuxième lettre. Tandis que `wiki0001`est l'identifiant de la première série.

[2018-01-25 11:23] HeathcoteA commented on #9
SOS ! Je viens de penser que nous n'avons pas que de la correspondance !!! Les deux discours de l'oeuvre complète Pourquoi on aime la France ne peuvent pas être identifiés par freCor... Doit-on faire un freCor et un freDisc ? Ou simplement oublier cette distinction et trouver un namespace commun aux deux genres ?

[2018-01-25 11:28] mggourio commented on #9
Je pense que le plus simple est d'utiliser un namespace commun pour nos lettres et nos discours. On peut reprendre le `freLit` ou bien en inventer un autre, plus personnalisé.
Q'en pensez-vous ?

[2018-01-25 11:30] algaudin commented on #9
Ah oui !
On peut éventuellement reprendre `freLit`, ça semble assez général pour contenir les deux ? Ou on peut prendre totalement autre chose aussi.

[2018-01-25 11:34] FMezard commented on #9
Sinon, comme on a un corpus déjà constitué, on peut peut-être prendre `oaLit` (pour Olivar Asselin, parce que `assLit` ça sonne pas terrible :P ).

[2018-01-25 11:36] mggourio commented on #9
oaLit est une bonne idée, et comme ça on a personnalisé notre namespace !

[2018-01-25 13:29] FMezard commented on #9
Du coup, si on résume, ça donne : `urn:cts:oaLit:wikidQ3350623.wikid1.wikid01`  pour la première lettre. Je me suis permise d'enlever quelques zéros, vu qu'on ne va probablement pas encoder plus de 99 lettres !

@PonteIneptique Est-ce que cet identifiant vous parait satisfaisant ?

[2018-01-25 13:41] PonteIneptique commented on #9
Cela me semble pas mal, mais pourquoi pas urn:cts:wikisource: pour le namespace ?

[2018-01-25 13:59] FMezard commented on #9
Oui d'accord, nous allons le modifier.

[2018-01-25 13:59] #9 closed, assigned to nobody

[2018-01-25 14:01] #23 closed, assigned to nobody

[2018-01-25 14:58] algaudin opened #25 "Mise aux normes de la lettre 1"
Bonjour,

Je vous propose de mettre la première lettre déjà encodée en TEI aux normes vis-à-vis du relax NG et de la renommer suivant les identifiants décidés précédemment.

[2018-01-25 15:12] #25 closed, assigned to nobody

[2018-01-29 13:16] mggourio opened #27 "Encodage TEI de la lettre_02_19170300"
Ave !

Je commence l'encodage en TEI de la lettre 2 de la première série de correspondance.

Encoderi te salutant ! ;)

[2018-01-29 14:48] FMezard opened #28 "Encodage de la lettre_03_19170305"
Je m'y mets !

[2018-01-29 15:10] FMezard commented on #28
Et voilà, les ennuis commencent ! J'ai un post-scriptum dans ma lettre qui arrive donc après le `<signed>`dans le `<closer>`, mais je ne suis pas autorisée à mettre de `<p>`à cet endroit là. Faut-il que je modifie le RelaxNG pour ajouter cette possibilité ou avez-vous une meilleure idée ??

Merci !

[2018-01-29 15:20] mggourio commented on #28
Et peut-on mettre le post-scriptum en `note` ?

[2018-01-29 15:25] mggourio commented on #28
As-tu remarqué que la transcription de wikisource n'est pas toujours juste ?
On est du coup obligé de lire l'image de la lettre manuscrite afin de placer correctement nos balises `del` (qui nous permettent d'encoder les ratures).
Les festivités ne font que commencer ... !! ;)

[2018-01-29 15:42] mggourio commented on #27
SOS !
Je n'arrive pas à lire ce qu'il y a sous certaines ratures. (mes cours de paléo commencent à dater !)
Selon vous, que faut-il que je mette dans le fichier encodé, à la place d'un mot que je n'arrive pas à déchiffrer ? Je mets des `XXX` ? :)

[2018-01-29 15:45] PonteIneptique commented on #28
Attention, `note` en TEI indique une note de l'éditeur

[2018-01-29 15:46] PonteIneptique commented on #27
À toutes fins utiles : http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-unclear.html

[2018-01-29 16:18] mggourio opened #29 "Amélioration du RelaxNG en parallèle de l'encodage des lettres"
Bonjour,

Au fur et à mesure de l'encodage des lettres, il va nous falloir modifier notre schéma afin d'y mettre des balises que nous n'avions pas prévu au départ.
Qu'en pensez-vous ?

Par exemple, @Keyuteotter a besoin d'une balise pour encoder un post-scriptum, et j'ai utilisé la balise `unclear` pour encoder une rature dont je ne suis pas sûre du déchiffrement.

Comment voulez-vous que l'on pro

[2018-01-29 16:24] algaudin commented on #28
En relisant les guidelines, j'ai découvert un élément `postscript`, complété des éléments `label` et `p`. Je vais le rappeler aussi dans l'issue #29 .

[2018-01-29 17:20] FMezard commented on #28
Ok, merci beaucoup ! Je vais changer ça.

[2018-01-30 13:57] mggourio commented on #27
Bonjour,

Après des recherches à l'adresse donnée par M.Clérice, j'ai encodé comme ci-après les mots difficiles à déchiffrer :

[code]

Je vais indiquer le changement dans l'issue sur les modifications du schéma.

[2018-01-30 17:31] algaudin opened #30 "Encodage de la lettre_04_19170311"
Bien le bonsoir !

Je me charge de l'encodage TEI de la quatrième lettre.

A demain :)

[2018-01-30 19:56] algaudin commented on #29
Effectivement, cela semble une bonne idée :)

De mon côté, en encodant la lettre 04 de la première série, je me suis servi de deux nouveaux éléments qui pourront (peut-être) vous être utile. N'hésitez pas à me dire si cela vous convient ou si vous pensez que d'autres balises peuvent convenir :
- `gap` pour les ratures indéchiffrables
- `damage` pour tous les dommages subis par le texte. J'ai utili

[2018-01-31 10:25] FMezard commented on #29
Ca me parait très bien, nous pouvons continuer à bien lister ici tous les éléments utilisés qui ne sont pas dans le relaxNG pour que celui-ci puisse être mis à jour quand nous aurons finis de rajouter des balises.

[2018-01-31 10:30] mggourio commented on #29
Lors de l'encodage de la lettre 02, j'ai utilisé la balise `unclear` pour les passages difficilement lisibles, avec l'attribut `reason="illegible"`
[code]
@algaudin tes balises sont très bien !

[2018-01-31 13:35] mggourio opened #32 "Encodage de la lettre_05_19170325"
Chers encodeurs,

Je me charge de l'encodage de la lettre 05.

Encodement votre, ;)

[2018-01-31 14:44] algaudin commented on #29
Finalement, la balise `gap` parait surperflue, étant donné qu'on peut se servir de `del` comme une balise  vide.

[2018-01-31 15:27] FMezard opened #35 "Encodage de la lettre_06_19170403"
Une lettre de plus !

[2018-01-31 15:53] #28 closed, assigned to FMezard

[2018-01-31 16:42] FMezard commented on #27
Désolée de m'en rendre compte maintenant, mais ta balise `figure` n'est pas juste en TEI ! Tu ne peux pas mettre `url` comme attribut de `figure`. Il faut faire
[code]

[2018-01-31 16:43] FMezard commented on #29
Penser à rajouter la balise `capture`dans la balise `figure`

[code]

[2018-02-01 10:12] mggourio commented on #27
D'accord, je vais modifier cela.

[2018-02-01 13:22] algaudin opened #37 "Encodage de la lettre_07_19170410"
Bonjour à tous!

Je m'occupe de la 7è lettre.

A bon encodeur, salut ;)

[2018-02-01 13:43] mggourio commented on #29
J'ai trouvé l'erreur liée au `profilDesc` : il faut sortir la balise du `fileDesc` et c'est tout ! Il faudra penser à modifier notre RelaxNG et les lettres encodées déjà pushées en conséquence.

Bon courage pour la suite de nos encodages !

[2018-02-01 14:00] #27 closed, assigned to mggourio

[2018-02-01 14:28] mggourio opened #39 "Encodage de la lettre_08_19170514"
Et c'est reparti pour un tour d'encodage !

[2018-02-01 15:34] #32 closed, assigned to nobody

[2018-02-01 15:37] #30 closed, assigned to nobody

[2018-02-01 15:38] #39 closed, assigned to nobody

[2018-02-01 15:57] #37 closed, assigned to nobody

[2018-02-02 08:39] #35 closed, assigned to nobody

[2018-02-03 09:39] algaudin opened #42 "Encodage de la lettre_09_19170527"
Bonjour à tous.

Je me charge d'encoder la lettre 09 :)

Bon samedi

[2018-02-03 15:20] mggourio opened #44 "Encodage de la lettre_10_19170602"
Salut les archivistes !

Je me mets à l'encodage de la 10.

Bon week-end !!

[2018-02-04 09:51] #42 closed, assigned to nobody

[2018-02-04 10:01] algaudin opened #45 "Encodage de la lettre_11_19170827"
Bonjour à tous ,

Je m'occupe de l'encodage de la 11e lettre.

Bon dimanche :)

[2018-02-04 22:13] #45 closed, assigned to nobody

[2018-02-05 11:03] FMezard opened #47 "Encodage de la lettre_13_19180604"

[2018-02-05 13:37] HeathcoteA opened #48 "Encodage de la lettre lettre_14_19180907"

[2018-02-05 14:03] #44 closed, assigned to nobody

[2018-02-05 14:20] FMezard opened #51 "Encodage de la lettre_12_19180110"

[2018-02-05 14:21] #47 closed, assigned to nobody

[2018-02-05 14:59] FMezard commented on #29
J'ai utilisé un `figDesc` dans une lettre pour mettre la légende de dessins présents dans les lettres. Est-ce que cela vous convient ?

[2018-02-05 15:01] FMezard commented on #29
Deuxième question : est-ce que vous pensez qu'il serait possible de mettre 2 `closer` ? (c'est dans la lettre 12 ( #51 ), je ne vous pas comment faire autrement.

[2018-02-05 15:07] algaudin commented on #29
Aucun souci, je crois que la DTD nous le permet par les `one-or-more` ?

[2018-02-05 15:13] mggourio commented on #29
Je me rallie au `figDesc` !
Pour les 2 `closer`, je suis de l'avis de @algaudin : tout est possible avec RelaxNG !!

[2018-02-05 15:35] FMezard commented on #29
Du coup ça donne ça ! Ca fait une structure un peu complexe, mais je ne vois pas trop comment simplifier.
[code]

[2018-02-06 15:37] mggourio commented on #29
Parfait !

[2018-02-06 15:38] algaudin commented on #29
C'est top !

[2018-02-06 16:04] #51 closed, assigned to nobody

[2018-02-06 16:27] FMezard opened #53 "Liaison du relaxNG avec les lettres encodées"
@architexte

Nous avions réussi à lier nos lettres encodées en TEI à notre schéma relaxNG, cependant, depuis que nous avons changé la structure de nos dossiers, nous n'arrivons plus à recréer cette liaison. Cela nous bloque pour mettre à jour le relaxNG au vu des nouveaux éléments rencontrés dans l'encodage des lettres

Nous avons également un problème avec notre élément racine, car nous n'arrivon

[2018-02-06 16:43] FMezard opened #54 "Ajout du refsDecl dans le TEI header"
Il va falloir déclarer le schéma de citation dans le TEI header dans un `refsDecl`.

Voici l'exemple des guidelines pour nous aider :

[code]

[2018-02-06 16:45] algaudin commented on #53
J'ai testé en modifiant le chemin vers le RelaxNG (en modifiant de `../data/correspondance.rng` à `../../correspondance.rng`) et j'ai enlevé le `xmlns` de la balise `TEI`. Le document XML semble être lié à la RelaxNG. Certaines balises sont alors soulignées. Par exemple, la balise `salute` est mal placée, parce que cela ne correspond pas au RelaxNG.

Mais il nous reste toujours ce problème du `xml

[2018-02-06 16:52] mggourio opened #55 "Structuration des métadonnées des lettres : essai avec la lettre wikid1.wikid01"
Il va falloir structurer les métadonnées des lettres en associant un fichier `__cts__` à chaque lettre et à chaque groupe de lettres.

Commençons par la lettre `wikid1.wikid01`, afin d'avoir ensuite un exemple pour les lettres suivantes !

[2018-02-06 17:00] FMezard opened #56 "Relecture des lettres wikid14-15-16-17"
Nous utilisons les attributs `n` pour le niveau de citation paragraphe.

[2018-02-06 17:01] algaudin opened #57 "Relecture des lettres wikid02-05-08-10"
Ajout des attributs `n` au niveau de citation correspondant au paragraphe en vue de la CapiTaniSation des lettres.

[2018-02-06 17:02] mggourio opened #58 "Ajout des attributs `n` pour les lettres wikid03-06-12-13"
Ajout des attributs `n` pour le niveau de citation paragraphes, dans l'optique de la CapiTaniSation.

[2018-02-06 17:16] HeathcoteA opened #59 "Encodage de la lettre_15_19181000"

[2018-02-07 10:57] FMezard commented on #59
Pushé directement dans master, du coup pas de pull request, mais l'encodage a bien été fait 👍

[2018-02-07 10:58] FMezard commented on #48
Pushé directement dans master, du coup pas de pull request, mais l'encodage a bien été fait 👍

[2018-02-07 11:00] #48 closed, assigned to nobody

[2018-02-07 11:00] #59 closed, assigned to nobody

[2018-02-07 15:20] HeathcoteA opened #60 "encodage de la lettre_16_19181105"

[2018-02-08 14:16] #60 closed, assigned to nobody

[2018-02-08 14:18] HeathcoteA opened #62 "Encodage de la lettre_17_19181119"

[2018-02-09 09:43] FMezard opened #63 "Mise au point d'un script pour numéroter les paragraphes"
Bonjour,

Je voudrai mettre au point un petit script pour numéroter les `<p>` sans qu'on ait tous besoin de le faire à la main.

[2018-02-09 13:04] mggourio commented on #29
Bonjour,

Je suis en train de relire les lettres. Et au regard des originaux, il est plus logique de sortir le `salute` de l'`opener` de cette manière :
[code]
Est-ce que cela vous convient ?
Si oui, il faudra modifier le schéma en conséquence !

Bon courage pour la suite !

[2018-02-09 13:06] FMezard commented on #29
Ca me va très bien! Juste deux petites remarques :
- il ne sert à rien de numéroter les `<p>`à la main, je viens de finir le script qui permet de le faire automatiquement.
- il est peut être plus pratique d'attendre d'avoir les fichiers vraiment liés au relaxNG avant de faire toutes les relecture, histoire de ne pas multiplier le travail.

[2018-02-09 13:17] algaudin commented on #53
Il faudra surement changer le chemin vers le schéma RelaxNG, parce qu'on a pas encore crée un sous-dossier par lettre, accompagné du fichier `__cts__.xml`.

[2018-02-09 14:19] algaudin commented on #55
Bonjour,

J'ai essayé de créer le dossier `__cts__.xml` pour le niveau "version", à savoir la lettre. J'ai un doute sur les éléments à utiliser ou non. Est-ce bien comme cela @PonteIneptique ?
[code]

[2018-02-09 14:49] PonteIneptique commented on #55
Cela me semble correct au niveau des `structured-metadata`. Sur le reste par contre :

Les dossiers contiennent des works (soit une lettre ou un ensemble de lettre suivant vos choix). Le fichier `__cts__.xml` des dossiers works doivent comprendre à la fois une description du `work` et des `editions` : http://capitains.org/pages/guidelines.html#work-metadata-file

[2018-02-09 14:57] mggourio commented on #55
Bonjour,

J'ai mis en place un fichier `__cts__.xml` pour le niveau work (=la série).
[code]

@PonteIneptique, est-ce correct ?

[2018-02-09 15:01] PonteIneptique commented on #55
@mggourio Non mais on avance.

Le work correspond en CTS à l'idée de l'oeuvre, tandis que l'édition correspond à sa réalisation. Par exemple:
- `work` = Les Mains Sales de Sartre,
- `edition` = Les Mains Sales édité chez Gallimard converti en XML à l'ENC

Pour le moment, vous avez découpé vos oeuvres 1 lettre = 1 fichier, ce qui veut dire pour le moment 1 lettre (work) = 1 transcription (edition,

[2018-02-09 15:14] mggourio commented on #55
Nous pensions que la version était la lettre encodée, que le work était une série de lettres et que le textgroup était l'ensemble des oeuvres encodées d'Olivar Asselin.
Mais je ne suis pas sûre d'avoir compris. Car si ce n'est pas ça, comment puis-je décrire les métadonnées de la série ? Est-ce mieux ainsi (j'ai modifié le `ti:label`)?
[code]

Et les métadonnées pour le niveau textgroup (=Olivar A

[2018-02-09 15:16] PonteIneptique commented on #55
Nous pourrons en rediscuter mardi (pensez à venir m'en parler).
Il va falloir soit faire un dossier par lettre, soit regrouper vos lettres dans un fichier pour être compatible avec CapiTainS.

[2018-02-09 15:26] mggourio commented on #55
Oui, nous avons prévu de faire un dossier par lettre (la lettre étant de niveau version).
Nous viendrons vous voir mardi après le cours.
Bon week-end monsieur.

[2018-02-09 15:27] PonteIneptique commented on #55
Merci et à vous aussi

[2018-02-10 18:49] #63 closed, assigned to FMezard

[2018-02-10 20:00] #62 closed, assigned to nobody

[2018-02-10 20:01] HeathcoteA opened #66 "Relecture des lettres wikid01-04-07-09-11"

[2018-02-11 15:22] algaudin commented on #53
Bonjour à tous,

Je me suis penché sur le problème du xmlns. Oxygen nous affichait

Dans le fichier `correspondance.rng`, j'ai ajouté dans la balise `<element name="TEI">`  l'attribut `xmlns="http://www.tei-c.org/ns/1.0"`. Maintenant, il nous indique

Pourtant, en relisant l'intégralité du fichier de notre relaxNG, je n'ai pas trouvé comment résoudre cette erreur.
Je ne sais pas si on est sur la b

[2018-02-11 22:39] algaudin commented on #29
En relisant les guidelines pour le Relax NG, j'ai vu qu'il fallait explicitement spécifier par `<empty/>` quand un élément était vide (ce qui est le cas pour `<unclear> <del> <space> <pb>` et `<graphic>`)

[2018-02-12 10:49] FMezard commented on #29
Il faudrait également rajouter le `refsDecl`  dans un `encodingDesc` et l'attribut `n` dans le `p`.

Voilà l'exemple pour le `refsDecl` :

[code]

[2018-02-12 10:49] algaudin commented on #53
Je crois que j'ai réussi (enfin) à relier le schéma et nos textes en TEI.
Dans le fichier `correspondance.rng`, j'ai ajouté dans `<grammar>`  `xmlns:ns="http://www.tei-c.org/ns/1.0"`, et j'ai fait de même dans le fichier TEI, dans la balise `<TEI>`.
Par magie, cela a fonctionné ...

Du coup, je vais modifier le schéma, selon les commentaires faits dans l'issue 29.
Cela vous va ?

[2018-02-12 10:49] algaudin commented on #29
Je me charge d'ajouter tous ça et de modifier le schéma comme il convient :)

[2018-02-12 11:07] FMezard opened #67 "Organisation des dossiers pour la capitainisation"
Il faut rajouter un niveau de dossier pour les lettres que nous avions oublié pour la capitainisation.

Je m'en charge tout de suite

[2018-02-13 09:00] HeathcoteA commented on #54
Il faut faire attention concernant les discours car le xpath contient un`group`. Suivant les guidelines et comme nous n'avons qu'un niveau, ça donnerait quelque chose comme ceci:

`<refsDecl n="CTS">
  <cRefPattern
      n="level1"
      matchPattern="(\w+)"
      replacementPattern="#xpath(/TEI/text/group/text/body/div/p[@n='$1'])">
      <p>This pointer pattern extracts level1</p>
  </cRefPatter

[2018-02-13 09:04] #67 closed, assigned to FMezard

[2018-02-13 09:11] FMezard commented on #54
Et pour les lettres, c'est quasi identique, ça donne :
J'ai l'impression que c'est identique pour toutes les lettres, si c'est bien le cas, je peux l'ajouter automatiquement avec un petit script.

[code]

[2018-02-13 09:24] FMezard commented on #54
Par contre, je pense qu'on peut modifier `level1` en `paragraphe`.

[2018-02-13 09:32] HeathcoteA commented on #54
Oui, ça me semble plus cohérent :-)

[2018-02-13 15:30] #58 closed, assigned to mggourio

[2018-02-13 15:33] FMezard opened #72 "Reorganisation totale des fichiers / dossiers pour être fidèle à CapiTainS"
Il semblerait qu'il faille changer très franchement notre façon d'encoder / organiser les dossiers pour CapiTainS :

Après la relecture et la numérotation des lettres, il va finalement falloir recréer un grand dossier TEI par série de lettres vu que sinon ça ne respecte pas la capitainisation. On va donc avoir :

DATA/

  - asselin(wikidQ...)/
       - `__cts__.xml`
       - wikid01
          - `_

[2018-02-13 15:35] mggourio commented on #72
Et bien je préfèrerai la seconde possibilité car cela nous éviterait de modifier notre schéma et de chambouler nos encodages TEI.

[2018-02-13 15:41] FMezard commented on #72
Oui, c'est vrai que c'est pas très pratique, mais pour le `refsDecl`, ça nous permettra d'avoir deux niveaux de citation : la lettre et le paragraphe, ce qui serait à mon sens plus logique.

[2018-02-13 15:45] HeathcoteA commented on #72
Personnellement je suis pour garder la classification en séries qui respecterait la capitainisation et le `refsDecl`

[2018-02-13 15:55] mggourio commented on #72
D'accord, mais avec la seconde solution, on a aussi 2 niveaux de citations : lettre et paragraphe, non ?

[2018-02-13 16:04] algaudin commented on #72
Je suis plutôt d'accord avec Amandine et Fanny.
Avec la seconde solution, si j'ai bien compris, le niveau lettre serait superflu ?

[2018-02-13 16:09] mggourio commented on #72
Avec la solution 2, nos lettres encodées remontent au niveau `work` et la citation serait par exemple `wikid14.wikid1` où `wikid14` est le dossier comprenant la lettre, et `wikid1` est l'édition de la lettre accompagnée de son `__cts__`

[2018-02-13 16:12] FMezard commented on #72
Je parlais du `refsDecl` et du `replacementPattern` !

[2018-02-13 16:15] algaudin commented on #72
Honnêtement, il me semble plus facile de modifier ne serait-ce que légèrement le relaxng (il y a "que" le correspAction à transformer en front, ainsi que l'élément front), plutôt que de faire de multiples cts :)

[2018-02-13 16:15] mggourio commented on #72
Bon d'accord. Mais je maintiens quand même que la solution 2 est ce qui nous permet de modifier le moins de choses, surtout ce relaxNG sur lequel on a déjà beaucoup, mais alors beaucoup, travaillé !!

[2018-02-13 16:16] mggourio commented on #72
Bon allez, soyons fous, c'est parti pour la solution 1 ! La maison ne recule devant aucun sacrifice !!

[2018-02-13 21:31] #57 closed, assigned to algaudin

[2018-02-13 21:36] FMezard commented on #54
Du coup, avec les deux niveaux de citation pour les lettres, cela donnerait si j'ai bien compris :

[code]
(pour le discours, cela ne change rien)

[2018-02-14 14:23] algaudin commented on #55
Après les discussions que nous avons eues hier concernant le niveau correspondant au work, j'ai modifié le contenu du fichier __cts__.xml :
[code]

@PonteIneptique Est-ce correct ainsi  ?

[2018-02-15 11:20] #56 closed, assigned to FMezard

[2018-02-15 16:34] HeathcoteA commented on #66
#75

[2018-02-15 16:34] #66 closed, assigned to nobody

[2018-02-15 18:28] mggourio commented on #55
Et voici le fichier `__cts__.xml` pour le niveau textgroup
[code]
@PonteIneptique est-ce que cela est correct ?

[2018-02-16 10:34] FMezard opened #77 "Configuration de Hooktest"
Afin d'avoir des retours sur notre capitainisation, c'est le moment de configurer Hooktest pour lancer nos tests.

[2018-02-16 10:57] algaudin commented on #55
En testant sur [](https://capitains-validator.herokuapp.com/) le semblant de fichier cts que l'on a crée, on obtient le résultat suivant :
![capture du 2018-02-16 11-55-19](https://user-images.githubusercontent.com/33345655/36304610-867733f8-1310-11e8-8b88-72bce0b1773d.png)

[2018-02-16 11:16] FMezard commented on #53
C'est bon, le schéma est bien relié, merci @algaudin :)

[2018-02-16 11:16] #53 closed, assigned to nobody

[2018-02-16 17:20] PonteIneptique commented on #55
La seule erreur visible : `ti:label` et `ti:description` ne font pas sens comme enfant de `ti:work`

[2018-02-19 15:10] #72 closed, assigned to nobody

[2018-02-19 18:47] #77 closed, assigned to nobody

[2018-02-19 18:47] #54 closed, assigned to FMezard, HeathcoteA

[2018-02-20 15:16] algaudin commented on #10
Ne me demandez pas pourquoi je l'ai réouverte, je ne le sais pas moi-même ^^

[2018-02-20 15:16] #10 closed, assigned to nobody

[2018-02-21 08:32] #29 closed, assigned to nobody

[2018-02-21 08:44] HeathcoteA opened #83 "Capitainisation des discours wikidQ3350623.wikid3"
Capitainisation des deux discours wikidQ3350623.wikid3 sur le modèle de la capitainisation des lettres afin de vérifier les tests.
RefsDecl des discours.

[2018-02-21 12:39] algaudin opened #85 "Fichier __cts__ pour le wikid3"
Je me charge de pusher le __cts__ manquant, pour l'oeuvre complète :)

[2018-02-21 13:11] #83 closed, assigned to HeathcoteA

[2018-02-21 13:22] algaudin opened #87 "Résoudre les problèmes de tests avec Travis"
Comme vous le savez, Travis nous fait la guerre depuis le début de notre projet. Nous avons perdu la bataille, certes, mais pas la guerre !

Dans notre défense, il semblait y avoir plusieurs problèmes, qui nous ont été révélés par notre espion dans le camp ennemi, notre cher CapiTainS Guideline Single File Validator :

- URN Informations

- Correct xml:lang attribute

- Passage level parsing

- Co

[2018-02-21 13:23] #55 closed, assigned to mggourio, algaudin

[2018-02-21 13:37] mggourio commented on #87
En relisant les guidelines CapiTainS, j'ai vu qu'il faut ajouter un `tei:` pour chaque élément du chemin XPath qu'il y a dans le `refDecl`.

Est-ce que cela favorise une trêve ?

[2018-02-21 15:08] algaudin commented on #85
Merci d'avoir mergé :)

[2018-02-21 15:08] #85 closed, assigned to nobody

[2018-02-21 15:25] HeathcoteA commented on #87
Je pense que dans la toute première balise `text`, il faut ajouter les attributs `xml:lang="fr"` et `xml:base="urn_de_l_edition"` . Il faudra sûrement modifier le relax ng une fois de plus.

[2018-02-21 15:26] algaudin commented on #87
Je vais modifier tout ça, et tester avec le validateur Capitains, avant de faire tourner cela sur Travis.
Merci :)

[2018-02-21 15:55] algaudin commented on #87
J'ai modifié tout ce que vous m'aviez dit et voici le résultat des tests :

Ceci est le résultat pour wikid1 :
![test_wikid1](https://user-images.githubusercontent.com/33345655/36490011-9d92b8e4-1727-11e8-9a84-56cb5601a5c0.png)

Pour wikid2 :
![test_wikid2](https://user-images.githubusercontent.com/33345655/36490019-a101fddc-1727-11e8-93b4-2e652d56dd5d.png)

Et pour le wikid3 :
![test_wikid3](http

[2018-02-21 20:46] FMezard commented on #87
OUI !!! :D

[2018-02-22 09:34] algaudin commented on #87
J'ai fait une pull request, mais il apparait toujours un problème :

- Available in Inventory

Et il y a en plus un problème sur le schéma `Text not allowed here`, lignes 781 et 993 du fichier xml wikid1

En tout cas, on est sur le chemin de la victoire ! :)

[2018-02-22 11:12] FMezard commented on #87
@PonteIneptique

Nous y sommes presque, mais nous n'arrivons pas à régler le problème de "Available in Inventory" après vérification attentive des urn dans les fichiers cts.

Nous avons aussi un problème de DTD sur la première série de lettre que nous n'arrivons pas à identifier.

Merci !

[2018-02-22 12:13] PonteIneptique commented on #87
Votre URN est fausse : URN !+ Nom de fichier avec extension :)

[2018-02-22 12:48] algaudin commented on #87
Merci!

Après de nouveaux tests, il y a toujours le problème de DTD sur le fichier correspondant à la première série de lettres. J'ai pourtant modifié à plusieurs reprises le fichier relaxng, sans succès. Des idées ?

[2018-02-22 12:58] PonteIneptique commented on #87
Votre schéma n'est malheureusement pas pris en compte par Hooktest qui ne teste que le schéma TEI général. Il est donc probable que votre schéma ne soit pas compatible TEI sur ces deux points. Pouvez-vous m'indiquer les lignes correspondantes ?

[2018-02-22 13:31] algaudin commented on #87
Finalement, grâce à tout le monde, on a trouvé notre erreur. Notre schéma nous permettait d'ajouter du texte directement dans une balise `<div>`, mais la TEI ne l'autorise pas. Nous avons donc ajouté les balises `<p>` manquantes.

[2018-02-22 14:50] FMezard opened #91 "Fin ?"
Le test Travis est juste à 100% !! 👍

Voyez-vous encore quelque chose à changer ? @PonteIneptique

Bonne journée à tous !

[2018-02-23 08:40] #87 closed, assigned to nobody

[2018-03-05 14:26] FMezard opened #92 "Dernier bug : nombre de noeuds paragraphe trouvés dans le discours"
Coucou,

On avait oublié un petit bug sur lequel je viens de tomber : le test HookTest ne trouvait que 2 noeuds paragraphes dans le discours. Il y a un soucis dans le `refsDecl`.

[2018-03-05 14:33] #92 closed, assigned to nobody

[2018-03-15 09:11] PonteIneptique commented on #91
![giphy](https://user-images.githubusercontent.com/1929830/37453829-3897dc1c-2839-11e8-848a-8d6a568d3992.gif)